<nav class="navbar is-primary" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item">
        Lobatos
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Salir
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
