<section class="section">
  <app-program-list></app-program-list>
  <app-program-statistics></app-program-statistics>
</section>
<nav class="navbar is-primary is-fixed-bottom" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-expanded is-block has-text-centered"
      (click)="showProgramList()">
      <i class="fa fa-user"></i>
      <p class="is-size-7">Programas</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered"
      (click)="showStatistics()">
      <i class="fa fa-list"></i>
      <p class="is-size-7">Estadisticas</p>
    </a>
  </div>
</nav>
